body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blanchedalmond;
  }
  
  #canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #etch-a-sketch {
    border: 1px solid black;
  }
  
  .button-container {
    margin-top: 10px;
  }
  
  .button-container button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  